                                                                        body {
                                                                        margin: 0em;
                                                                        font-family: sans-serif
                                                                    }
                                                                    
                                                                    .cover {
                                                                        height: 400px;
                                                                        background-image: url(imgn.jpg);
                                                                        color: white;
                                                                        background-size: cover;
                                                                        background-position: center;
                                                                        background-color: rgba(0, 0, 0, 5);
                                                                        .cover-small {
                                                                            height: 200px;
                                                                        }
                                                                        .card {
                                                                            border: 0 !important;
                                                                            box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 01), 0 2px 4px -1px rgba(0, 0, 0, 06);
                                                                        }
                                                                        .card-title {
                                                                            min-height: 3 rem;
                                                                        }
                                                                        .car-tex {
                                                                            min-height: 10rem;
                                                                        }